@font-face {
  font-family: 'Gravity-UltraLight';
  src: url('../fonts/Gravity/Gravity-UltraLight/Gravity-UltraLight.eot');
  src: url('../fonts//Gravity/Gravity-UltraLight/Gravity-UltraLight.eot#iefix') format('embedded-opentype'), url('../fonts//Gravity/Gravity-UltraLight/Gravity-UltraLight.woff') format('woff'), url('../fonts//Gravity/Gravity-UltraLight/Gravity-UltraLight.otf') format('woff'), url('../fonts//Gravity/Gravity-UltraLight/Gravity-UltraLight.ttf') format('truetype'), url('../fonts//Gravity/Gravity-UltraLight/Gravity-UltraLight.svg') format('svg');
}
@font-face {
  font-family: 'Gravity-Light';
  src: url('../fonts/Gravity/Gravity-Light/Gravity-Light.eot');
  src: url('../fonts//Gravity/Gravity-Light/Gravity-Light.eot#iefix') format('embedded-opentype'), url('../fonts//Gravity/Gravity-Light/Gravity-Light.woff') format('woff'), url('../fonts//Gravity/Gravity-Light/Gravity-Light.otf') format('woff'), url('../fonts//Gravity/Gravity-Light/Gravity-Light.ttf') format('truetype'), url('../fonts//Gravity/Gravity-Light/Gravity-Light.svg') format('svg');
}
@font-face {
  font-family: 'Gravity-Regular';
  src: url('../fonts/Gravity/Gravity-Regular/Gravity-Regular.eot');
  src: url('../fonts//Gravity/Gravity-Regular/Gravity-Regular.eot#iefix') format('embedded-opentype'), url('../fonts//Gravity/Gravity-Regular/Gravity-Regular.woff') format('woff'), url('../fonts//Gravity/Gravity-Regular/Gravity-Regular.otf') format('woff'), url('../fonts//Gravity/Gravity-Regular/Gravity-Regular.ttf') format('truetype'), url('../fonts//Gravity/Gravity-Regular/Gravity-Regular.svg') format('svg');
}
@font-face {
  font-family: 'Gravity-Medium';
  src: url('../fonts/Gravity/Gravity-Medium/Gravity-Medium.eot');
  src: url('../fonts//Gravity/Gravity-Medium/Gravity-Medium.eot#iefix') format('embedded-opentype'), url('../fonts//Gravity/Gravity-Medium/Gravity-Medium.woff') format('woff'), url('../fonts//Gravity/Gravity-Medium/Gravity-Medium.otf') format('woff'), url('../fonts//Gravity/Gravity-Medium/Gravity-Medium.ttf') format('truetype'), url('../fonts//Gravity/Gravity-Medium/Gravity-Medium.svg') format('svg');
}
@font-face {
  font-family: 'Gravity-Bold';
  src: url('../fonts/Gravity/Gravity-Bold/Gravity-Bold.eot');
  src: url('../fonts//Gravity/Gravity-Bold/Gravity-Bold.eot#iefix') format('embedded-opentype'), url('../fonts//Gravity/Gravity-Bold/Gravity-Bold.woff') format('woff'), url('../fonts//Gravity/Gravity-Bold/Gravity-Bold.otf') format('woff'), url('../fonts//Gravity/Gravity-Bold/Gravity-Bold.ttf') format('truetype'), url('../fonts//Gravity/Gravity-Bold/Gravity-Bold.svg') format('svg');
}
@font-face {
  font-family: 'Gravity-Black';
  src: url('../fonts/Gravity/Gravity-Black/Gravity-Black.eot');
  src: url('../fonts//Gravity/Gravity-Black/Gravity-Black.eot#iefix') format('embedded-opentype'), url('../fonts//Gravity/Gravity-Black/Gravity-Black.woff') format('woff'), url('../fonts//Gravity/Gravity-Black/Gravity-Black.otf') format('woff'), url('../fonts//Gravity/Gravity-Black/Gravity-Black.ttf') format('truetype'), url('../fonts//Gravity/Gravity-Black/Gravity-Black.svg') format('svg');
}
html {
  font-size: 1px;
}
body {
  font-family: 'Gravity-Light';
  font-size: 14rem;
}
h1 {
  text-align: center;
  font-size: 36rem;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
}
nav {
  z-index: 999;
  margin: auto;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  width: 40%;
}
nav ul {
  padding: 0;
  text-align: justify;
}
nav li {
  display: inline-block;
}
nav ul::after {
  width: 100%;
  display: inline-block;
  content: "";
}
nav a {
  position: relative;
  display: block;
  outline: none;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 24rem;
  padding: 8px 0;
}
nav a:hover,
nav a:focus {
  outline: none;
}
nav a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #20ae88;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}
nav a:hover::after,
nav a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
.image-head {
  width: 100%;
  height: 750px;
  background-image: url('../images/background.jpg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: none;
}
.image-head .layer {
  background-color: #232631;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: inherit;
}
.luna {
  position: relative;
  margin: 0 auto;
  width: 440px;
  height: 440px;
  top: 25%;
}
.luna .luna-caption {
  opacity: 0;
  position: absolute;
  top: 190px;
  left: 50px;
  color: white;
  width: 150px;
  line-height: 30px;
}
.luna .luna-caption #caption-name {
  font-size: 50rem;
}
.luna .luna-caption #caption-city {
  font-size: 25rem;
}
.qhcmUktk_0 {
  stroke-dasharray: 610 612;
  stroke-dashoffset: 611;
  stroke-opacity: 1;
  stroke-width: 0;
}
.sub-menu {
  color: #f0f0f0;
  background: #232631;
  width: 100%;
  height: 265px;
}
.sub-menu .contact {
  width: 350px;
  position: absolute;
  height: inherit;
  right: 0;
}
.sub-menu .contact .request-call {
  z-index: 999;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: 20px;
  width: 198px;
  background: #f0f0f0;
  height: 50px;
  background-image: url('../images/req-call.png');
  background-repeat: no-repeat;
  text-align: center;
  line-height: 50px;
  font-size: 20rem;
}
.sub-menu .contact .request-call .call-info {
  font-size: 16rem;
  color: #232631;
  text-align: left;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
}
.sub-menu .contact .request-call .call-info p {
  margin: 0;
}
.sub-menu .contact .request-call .call-info input {
  display: block;
  width: 145px;
  outline: none;
  background: #f0f0f0;
  border: none;
  border-bottom: 1px solid lightgrey;
  padding: 0;
}
.sub-menu .contact .request-call .call-info button {
  position: relative;
  width: 145px;
  top: 25px;
  outline: none;
  background: #f0f0f0;
  padding: 8px 0;
  border-radius: 90px;
  border: 1px solid #20ae88;
  font-family: 'Gravity-Light';
}
.sub-menu .contact .request-call .call-info button:hover {
  background: #20ae88;
  color: #f0f0f0;
}
.sub-menu .contact .request-call .close-req {
  font-size: 16rem;
  position: relative;
  top: 30px;
  color: #232631;
}
.sub-menu .contact ul {
  position: relative;
  top: 60px;
  right: 20px;
  text-align: right;
  padding: 0;
  font-size: 18rem;
  list-style-type: none;
  line-height: 30px;
}
.sub-menu .contact ul div {
  position: relative;
  top: 6px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  float: right;
}
.sub-menu .contact ul .phone {
  background-image: url('../images/phone-icon.png');
  background-size: cover;
}
.sub-menu .contact ul .mail {
  background-image: url('../images/mail-icon.png');
  background-size: cover;
}
.sub-menu .contact ul .vk {
  background-image: url('../images/vk-icon.png');
  background-size: cover;
}
.sub-menu .content {
  position: relative;
  margin: 0 auto;
  width: 500px;
}
.sub-menu .content div {
  font-size: 20rem;
  display: inline-block;
  float: left;
  margin-left: 40px;
  margin-top: 10px;
}
.sub-menu .content div p {
  color: #20ae88;
}
.sub-menu .content div ul {
  padding: 0;
  list-style-type: none;
}
.sub-menu .content div a {
  line-height: 30px;
  outline: none;
  color: #f0f0f0;
  text-decoration: none;
}
.services {
  background-image: url('../images/background_2.jpg');
  height: 1015px;
  font-size: 24rem;
}
.gallery,
.prices {
  background: #20ae88;
  color: #f0f0f0;
}
