@font-face {
  font-family: 'Gravity-UltraLight';
  src: url('../fonts/Gravity/Gravity-UltraLight/Gravity-UltraLight.eot');
  src: url('../fonts//Gravity/Gravity-UltraLight/Gravity-UltraLight.eot#iefix') format('embedded-opentype'), url('../fonts//Gravity/Gravity-UltraLight/Gravity-UltraLight.woff') format('woff'), url('../fonts//Gravity/Gravity-UltraLight/Gravity-UltraLight.otf') format('woff'), url('../fonts//Gravity/Gravity-UltraLight/Gravity-UltraLight.ttf') format('truetype'), url('../fonts//Gravity/Gravity-UltraLight/Gravity-UltraLight.svg') format('svg');
}
@font-face {
  font-family: 'Gravity-Light';
  src: url('../fonts/Gravity/Gravity-Light/Gravity-Light.eot');
  src: url('../fonts//Gravity/Gravity-Light/Gravity-Light.eot#iefix') format('embedded-opentype'), url('../fonts//Gravity/Gravity-Light/Gravity-Light.woff') format('woff'), url('../fonts//Gravity/Gravity-Light/Gravity-Light.otf') format('woff'), url('../fonts//Gravity/Gravity-Light/Gravity-Light.ttf') format('truetype'), url('../fonts//Gravity/Gravity-Light/Gravity-Light.svg') format('svg');
}
@font-face {
  font-family: 'Gravity-Regular';
  src: url('../fonts/Gravity/Gravity-Regular/Gravity-Regular.eot');
  src: url('../fonts//Gravity/Gravity-Regular/Gravity-Regular.eot#iefix') format('embedded-opentype'), url('../fonts//Gravity/Gravity-Regular/Gravity-Regular.woff') format('woff'), url('../fonts//Gravity/Gravity-Regular/Gravity-Regular.otf') format('woff'), url('../fonts//Gravity/Gravity-Regular/Gravity-Regular.ttf') format('truetype'), url('../fonts//Gravity/Gravity-Regular/Gravity-Regular.svg') format('svg');
}
@font-face {
  font-family: 'Gravity-Medium';
  src: url('../fonts/Gravity/Gravity-Medium/Gravity-Medium.eot');
  src: url('../fonts//Gravity/Gravity-Medium/Gravity-Medium.eot#iefix') format('embedded-opentype'), url('../fonts//Gravity/Gravity-Medium/Gravity-Medium.woff') format('woff'), url('../fonts//Gravity/Gravity-Medium/Gravity-Medium.otf') format('woff'), url('../fonts//Gravity/Gravity-Medium/Gravity-Medium.ttf') format('truetype'), url('../fonts//Gravity/Gravity-Medium/Gravity-Medium.svg') format('svg');
}
@font-face {
  font-family: 'Gravity-Bold';
  src: url('../fonts/Gravity/Gravity-Bold/Gravity-Bold.eot');
  src: url('../fonts//Gravity/Gravity-Bold/Gravity-Bold.eot#iefix') format('embedded-opentype'), url('../fonts//Gravity/Gravity-Bold/Gravity-Bold.woff') format('woff'), url('../fonts//Gravity/Gravity-Bold/Gravity-Bold.otf') format('woff'), url('../fonts//Gravity/Gravity-Bold/Gravity-Bold.ttf') format('truetype'), url('../fonts//Gravity/Gravity-Bold/Gravity-Bold.svg') format('svg');
}
@font-face {
  font-family: 'Gravity-Black';
  src: url('../fonts/Gravity/Gravity-Black/Gravity-Black.eot');
  src: url('../fonts//Gravity/Gravity-Black/Gravity-Black.eot#iefix') format('embedded-opentype'), url('../fonts//Gravity/Gravity-Black/Gravity-Black.woff') format('woff'), url('../fonts//Gravity/Gravity-Black/Gravity-Black.otf') format('woff'), url('../fonts//Gravity/Gravity-Black/Gravity-Black.ttf') format('truetype'), url('../fonts//Gravity/Gravity-Black/Gravity-Black.svg') format('svg');
}
html {
  font-size: 1px;
}
body {
  font-family: 'Gravity-Light';
  font-size: 14rem;
}
h1 {
  text-align: center;
  font-size: 36rem;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
}
.max-width {
  margin: auto;
  padding: 16px;
  position: relative;
  max-width: 1366px;
}
nav {
  z-index: 999;
  margin: auto;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  padding: 0 20px;
  max-width: 1200px;
}
nav ul {
  padding: 0;
  text-align: justify;
}
nav li {
  display: inline-block;
}
nav ul::after {
  width: 100%;
  display: inline-block;
  content: "";
}
nav a {
  position: relative;
  display: block;
  outline: none;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 24rem;
  padding: 8px 0;
}
nav a:hover,
nav a:focus {
  outline: none;
}
nav a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #20ae88;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}
nav a:hover::after,
nav a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
.image-head {
  width: 100%;
  height: 750px;
  background-image: url('../images/background.jpg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: none;
}
.image-head .layer {
  background-color: #232631;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: inherit;
}
.luna {
  position: relative;
  margin: 0 auto;
  width: 440px;
  height: 440px;
  top: 25%;
}
.luna .luna-caption {
  opacity: 0;
  position: absolute;
  top: 190px;
  left: 50px;
  color: white;
  width: 150px;
  line-height: 30px;
}
.luna .luna-caption #caption-name {
  font-size: 50rem;
}
.luna .luna-caption #caption-city {
  font-size: 25rem;
}
.qhcmUktk_0 {
  stroke-dasharray: 610 612;
  stroke-dashoffset: 611;
  stroke-opacity: 1;
  stroke-width: 0;
}
.sub-menu {
  color: #f0f0f0;
  background: #232631;
  width: 100%;
  height: 265px;
}
.sub-menu .contact {
  width: 350px;
  position: absolute;
  height: inherit;
  right: 0;
}
.sub-menu .contact .request-call {
  z-index: 999;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: 20px;
  width: 198px;
  height: 50px;
  background: #f0f0f0 url('../images/req-call.png') no-repeat;
  text-align: center;
  line-height: 50px;
  font-size: 20rem;
}
.sub-menu .contact .request-call .call-info {
  font-size: 16rem;
  color: #232631;
  text-align: left;
  margin: 15px 25px 0 25px;
}
.sub-menu .contact .request-call .call-info p {
  margin: 0;
}
.sub-menu .contact .request-call .call-info input {
  display: block;
  width: 145px;
  outline: none;
  background: #f0f0f0;
  border: none;
  border-bottom: 1px solid lightgrey;
  padding: 0;
}
.sub-menu .contact .request-call .call-info button {
  position: relative;
  width: 145px;
  top: 25px;
  outline: none;
  background: #f0f0f0;
  padding: 8px 0;
  border-radius: 90px;
  border: 1px solid #20ae88;
  font-family: 'Gravity-Light';
}
.sub-menu .contact .request-call .call-info button:hover {
  background: #20ae88;
  color: #f0f0f0;
}
.sub-menu .contact .request-call .close-req {
  font-size: 16rem;
  position: relative;
  top: 30px;
  color: #232631;
}
.sub-menu .contact ul {
  position: relative;
  top: 60px;
  right: 20px;
  text-align: right;
  padding: 0;
  font-size: 18rem;
  list-style-type: none;
  line-height: 30px;
}
.sub-menu .contact ul div {
  position: relative;
  top: 6px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  float: right;
}
.sub-menu .contact ul .phone {
  background: url('../images/phone-icon.png');
  background-size: cover;
}
.sub-menu .contact ul .mail {
  background-image: url('../images/mail-icon.png');
  background-size: cover;
}
.sub-menu .contact ul .vk {
  background-image: url('../images/vk-icon.png');
  background-size: cover;
}
.sub-menu .content {
  position: relative;
  margin: 0 auto;
  width: 500px;
}
.sub-menu .content div {
  font-size: 20rem;
  float: left;
  margin-left: 40px;
  margin-top: 10px;
}
.sub-menu .content div p {
  color: #20ae88;
}
.sub-menu .content div ul {
  padding: 0;
  list-style-type: none;
}
.sub-menu .content div a {
  line-height: 30px;
  outline: none;
  color: #f0f0f0;
  text-decoration: none;
}
.services {
  background-image: url('../images/background_2.jpg');
  height: 1600px;
  font-size: 24rem;
}
.services h1 {
  font-size: 64rem;
  width: 204px;
  text-align: left;
  color: #20ae88;
  line-height: 76px;
}
.services .content {
  position: relative;
  max-width: 738px;
  margin: 0 auto;
}
.services .content .left-service {
  margin-top: 1px;
  margin-bottom: 2px;
}
.services .content .left-service .outer {
  float: left;
  background: #20ae88;
  border: 2px solid #20ae88;
  width: 320px;
  height: 80px;
  position: relative;
  overflow: hidden;
  -ms-transform: skew(45deg);
  -webkit-transform: skew(45deg);
  transform: skew(45deg);
}
.services .content .left-service .outer div {
  position: absolute;
  left: -50px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 125%;
  height: 125%;
  -ms-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
}
.services .content .left-service .outer #ring {
  background-image: url('../images/services/ring.jpg');
}
.services .content .left-service .outer #award {
  background-image: url('../images/services/award.jpg');
}
.services .content .left-service .outer #flash {
  background-image: url('../images/services/flash.jpg');
}
.services .content .left-service .outer #leather {
  background-image: url('../images/services/leather.jpg');
}
.services .content .left-service .line-skew {
  float: left;
  margin-left: 45px;
  position: relative;
  outline: 1px solid #20ae88;
  width: 0px;
  height: 160px;
  -ms-transform: skew(45deg);
  -webkit-transform: skew(45deg);
  transform: skew(45deg);
}
.services .content .left-service .service-item {
  float: left;
  line-height: 32px;
  font-size: 20rem;
  width: 250px;
}
.services .content .right-service {
  margin-top: 1px;
  margin-bottom: 2px;
}
.services .content .right-service .outer {
  float: right;
  background: #20ae88;
  border: 2px solid #20ae88;
  width: 320px;
  height: 80px;
  position: relative;
  overflow: hidden;
  -ms-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
}
.services .content .right-service .outer div {
  position: absolute;
  left: -30px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 125%;
  height: 125%;
  -ms-transform: skew(45deg);
  -webkit-transform: skew(45deg);
  transform: skew(45deg);
}
.services .content .right-service .outer #souvenir {
  background-image: url('../images/services/souvenir.jpg');
}
.services .content .right-service .outer #jewelry {
  background-image: url('../images/services/jewelry.jpg');
}
.services .content .right-service .outer #wood {
  background-image: url('../images/services/wood.jpg');
}
.services .content .right-service .outer #signboard {
  background-image: url('../images/services/signboard.jpg');
}
.services .content .right-service .line-skew {
  float: right;
  margin-right: 45px;
  position: relative;
  outline: 1px solid #20ae88;
  width: 0px;
  height: 160px;
  -ms-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
}
.services .content .right-service .service-item {
  float: right;
  line-height: 32px;
  font-size: 20rem;
  width: 250px;
}
.gallery,
.prices {
  background: #20ae88;
  color: #f0f0f0;
}
.gallery h1 {
  -webkit-text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.gallery .gallery-slider {
  display: none;
  min-height: 320px;
}
.gallery .gallery-first {
  display: block;
}
.gallery .gallery-slider:target {
  display: block;
}
.gallery .item img {
  height: 250px;
  width: auto;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.gallery .gallery-categories {
  margin: auto;
}
.gallery .gallery-categories a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 24%;
  color: #f0f0f0;
}
.gallery .gallery-categories a:hover {
  background: red;
}
.prices h1 {
  font-size: 64rem;
  text-align: left;
  line-height: 76rem;
  -webkit-text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.prices .prices-content {
  background: #232631;
}
.prices .prices-content .prices-left-line {
  height: 100%;
  top: 0px;
  width: 2px;
  left: 24px;
  position: absolute;
  background: #f0f0f0;
}
.prices .prices-content .content {
  padding: 120px 0 180px;
}
.prices .prices-content .content div div {
  display: inline-block;
}
.prices .prices-content .content div div:nth-child(2) {
  width: 50%;
  font-size: 26rem;
  line-height: 36rem;
}
@media (max-width: 992px) {
  .prices .prices-content .content div div:nth-child(2) {
    width: 90%;
    left: 36px;
  }
}
.prices .prices-content .content .dot {
  position: relative;
  background: #f0f0f0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  vertical-align: top;
  margin-top: 7px;
  margin-right: 16px;
  color: #232631;
  text-align: center;
}
.prices .prices-content .costs {
  position: absolute;
  width: 40%;
  min-width: 460px;
  top: -120px;
  right: 16px;
  text-align: center;
  color: #232631;
}
@media (max-width: 992px) {
  .prices .prices-content .costs {
    position: relative;
    width: 100%;
    right: 0;
  }
}
.prices .prices-content .costs-inner {
  position: relative;
  width: 420px;
  background: white;
  margin: auto;
  z-index: 4;
  padding-top: 16px;
  padding-bottom: 40px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.prices .prices-content .costs-left {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #fff;
}
.prices .prices-content .costs-right {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #f1f0f0;
}
.prices .prices-content .costs-inner:before {
  content: "";
  position: absolute;
  height: 40px;
  width: 460px;
  border-radius: 20px;
  top: -20px;
  left: -20px;
  background: #0f5945;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: auto;
  z-index: -2;
}
.prices .prices-content .costs-bottom {
  content: "";
  height: 50px;
  width: 12.5%;
  border-radius: 20px 0px 20px 0px;
  bottom: -30px;
  left: 0;
  background: #232631;
  position: absolute;
  display: inline-block;
  margin: 0;
  padding: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.prices .prices-content .costs-bottom:nth-of-type(10) {
  left: 12.5%;
}
.prices .prices-content .costs-bottom:nth-of-type(11) {
  left: 25%;
}
.prices .prices-content .costs-bottom:nth-of-type(12) {
  left: 37.5%;
}
.prices .prices-content .costs-bottom:nth-of-type(13) {
  left: 50%;
}
.prices .prices-content .costs-bottom:nth-of-type(14) {
  left: 62.5%;
}
.prices .prices-content .costs-bottom:nth-of-type(15) {
  left: 75%;
}
.prices .prices-content .costs-bottom:nth-of-type(16) {
  left: 87.5%;
}
.prices .prices-content h2 {
  margin: 0;
  font-size: 28rem;
}
.prices .prices-content .costs-line {
  width: 280px;
  height: 7px;
  background: #20ae88;
  margin: 8px auto;
}
.prices .prices-content .costs-gravirovka {
  font-size: 20px;
  color: #20ae88;
  margin: 8px auto 32px;
}
.prices .prices-content table {
  font-size: 18px;
  text-align: left;
  margin: 0 16px 0 16px;
}
.prices .prices-content th {
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid #20ae88;
}
.prices .prices-content th:last-child {
  border-left: 1px solid #20ae88;
}
.prices .prices-content td:not(.last-td) {
  border-bottom: 1px solid #20ae88;
}
.prices .prices-content td:nth-child(n) {
  width: 70%;
  padding: 4px 4px 4px 4px;
}
.prices .prices-content td:nth-child(2n) {
  width: 30%;
  border-left: 1px solid #20ae88;
  padding-left: 4px;
  padding-right: 0px;
}
.prices .prices-content .costs-footnote {
  padding-left: 24px;
  font-size: 16px;
  text-align: left;
}
.prices .prices-content .costs-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #232631;
  margin: 28px auto;
}
.prices .prices-content .costs-top-in-1 {
  position: absolute;
  width: 100%;
  margin-top: -16px;
  background: #0f5945;
  height: 20px;
  opacity: 0.03;
}
.prices .prices-content .costs-top-in-2 {
  position: absolute;
  width: 100%;
  margin-top: -16px;
  background: #0f5945;
  height: 9px;
  opacity: 0.07;
}
.prices .prices-content .costs-top-in-3 {
  position: absolute;
  width: 100%;
  margin-top: -16px;
  background: #0f5945;
  opacity: 0.15;
  height: 4px;
}
.prices span {
  color: #20ae88 !important;
}
